<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483730233887-i03gvpdbi2cqho58mjq7ddee7uuuqn17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483730233887-i03gvpdbi2cqho58mjq7ddee7uuuqn17</string>
	<key>API_KEY</key>
	<string>AIzaSyC6jdxVOJbbMXxvJfIwxy3oTexnss7hQgI</string>
	<key>GCM_SENDER_ID</key>
	<string>483730233887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.referralApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-project-819d1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-819d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483730233887:ios:49193dd37174b0d52cd32a</string>
</dict>
</plist>